.hero {
    height: 100vh;
    max-width: 100vw;
    position: relative;
}
.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero .info {
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.hero .info h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
}
.hero .info h2 {
    font-size: 1.3rem;
    padding: 1rem 0;
    color: var(--text-color2);
}
.hero .info span {
    display: block;
    margin-bottom: 1.8rem;
    color: var(--text-color);
}
@media (max-width: 768px) {
    .hero .info {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero .info h1 {
        font-size: 1.5rem;
    }
    .hero .info h2{
        font-size: 1.2rem;
    }
    .hero .info span{
        font-size: 1rem;
    }
  }
